<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org/"xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title> Borrar ejercicios </title>
		<link href="css\cssinicio.css" rel="stylesheet" type"text/css" >
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<div id="principal" style="width:95%;">
		
			<div id="cabecera">
				<h2>Electr&oacute;nica Digital</h2>
			</div>
			
			<div id="menu">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/contenidos">Contenidos</a></li>
					{{#logged}}
					{{#ALUMNOS}}
					<li><a href="/modoEvaluacion"> Autoevaluación</a></li>
					{{/ALUMNOS}}
					{{#PROFESORES}}
					<li><a href="/profes"> Mis Aulas</a></li>
					{{/PROFESORES}}
					{{#ADMINISTRADOR}}
					<li><a href="/administradores"> Administrar</a></li>
					{{/ADMINISTRADOR}}
					<li>
						<form action="/logout" method="post">
							<input type="submit" id ="logout_button" value="Cerrar Sesion"/>
				        	<input type="hidden" name="_csrf" value="{{token}}" />
						</form>
					 </li>
					{{/logged}}
					{{^logged}}
					<li><a href="/login"> Iniciar Sesión</a></li>
					{{/logged}}
				</ul>
			</div>
			
			<div id="columnader" style="width:97%;">
				<form action="/borrarEjerciciosSubmit" method="post">
					<table id="clase" style="width:99%;">
						<tr id="fila1">
							<th colspan="4">Ejercicios personalizados</th>	
						</tr>
						<tr id="fila1">
							<th>ID</th>	
							<th>Funcion lógica</th>
							<th>Imagen</th>
							<th>Borrar</th>
						</tr>
						{{#lista}}
							<tr>
								<th>{{id}}</th>
								<th>{{funcion_logica}}</th>
								<th><img src="{{#imagen}}{{imagen}}{{/imagen}}" id="imgpuertalogic"></th>
								<th><input type="checkbox" name="borrar" value="{{id}}"/></th>
							</tr>
						{{/lista}}
					</table>
					<input type="submit" value="Borrar ejercicios" style="margin-left: 40%;width: 20%;height: 40px;margin-top: 10px;"/> 
					<input type="hidden" name="_csrf" value="{{token}}" />
				</form>
			</div>
			<div class="clear">
			</div>
			<div id="pie">
			<p>Trabajo de Fin de Máster</p>
			<p>Máster Universitario en Formación del Profesorado de Ed. Secundaria, Bachillerato, FP e Idiomas</p>
			<p>Especialidad: Informática y Tecnología</p>
			<p>Alumna: Carmen Muñoz Lorente; Director: Carlos Lázaro Carrascosa</p>
			</div>
		</div>
		
	</body>
</html>