<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


	<head>
		<title> Lista de usuarios </title>
		<link href="css\cssinicio.css" rel="stylesheet" type"text/css" >
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
		
	</head>
<body>
		
	<div id="principal">
		
		<div id="cabecera">
				<h2>Electr&oacute;nica Digital</h2>
		</div>
			
			<div id="menu">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/contenidos">Contenidos</a></li>
					{{#logged}}
					{{#ALUMNOS}}
					<li><a href="/modoEvaluacion"> Autoevaluación</a></li>
					{{/ALUMNOS}}
					{{#PROFESORES}}
					<li><a href="/profes"> Mis Aulas</a></li>
					{{/PROFESORES}}
					{{#ADMINISTRADOR}}
					<li><a href="/administradores"> Administrar</a></li>
					{{/ADMINISTRADOR}}
					<li>
						<form action="/logout" method="post">
							<input type="submit" id ="logout_button" value="Cerrar Sesion"/>
				        	<input type="hidden" name="_csrf" value="{{token}}" />
						</form>
					 </li>
					{{/logged}}
					{{^logged}}
					<li><a href="/login"> Iniciar Sesión</a></li>
					{{/logged}}
				</ul>
			</div>
			
		<div id="columnader">
        <br />
        
        <form action="/banUsuarios" method="post">
          <div id="tablas">

            <table id="clase">
            	<tr>
					<th colspan="2">Profesores</th>
				</tr>
				<tr>
	                <th>Aulas</th>
	                <th>Banear</th>
	            </tr>
				{{#profesores}}
	                <tr>
	                    <th><a href="/asignarAulas{{nombre}}">{{nombre}}</a></th>
	                    <th>
	                    	{{#enabled}}
	                    		Banear
	                    	{{/enabled}}
	                    	{{^enabled}}
	                    		Desbanear
	                    	{{/enabled}}
	                    	<input type="radio" name="nombre" value="{{nombre}}"/>
	                    </th>
	                </tr>
                {{/profesores}}
			</table>
			
			<table id="clase">
            	<tr>
					<th colspan="2">Alumnos</th>
				</tr>
				<tr>
	                <th>Perfil</th>
	                <th>Banear/Desbanear</th>
	            </tr>
				{{#alumnos}}
	                <tr>
	                    <th><a href="/perfilAlumno{{id}}">{{nombre}}</a></th>
	                    <th>
	                    	{{#enabled}}
	                    		Banear
	                    	{{/enabled}}
	                    	{{^enabled}}
	                    		Desbanear
	                    	{{/enabled}}
	                    	<input type="radio" name="nombre" value="{{nombre}}"/>
	                    </th>
	                </tr>
                {{/alumnos}}
			</table>
            
          </div>
          	<input type="submit" value="Banear"/>
        	<input type="hidden" name="_csrf" value="{{token}}" />
        </form>
        
		</div>
		
		
           
		<div class="clear">
		</div>
		<div id="pie">
			<p>Trabajo de Fin de Máster</p>
			<p>Máster Universitario en Formación del Profesorado de Ed. Secundaria, Bachillerato, FP e Idiomas</p>
			<p>Especialidad: Informática y Tecnología</p>
			<p>Carmen Muñoz Lorente</p>
			</div>
	</div>
	<!-------------------------------------------------------------------------------------------SCRIPT----------------------------------------------------------------------->		
	<!-------------------------------------------------------------------------------------------SCRIPT----------------------------------------------------------------------->	
	<!-------------------------------------------------------------------------------------------SCRIPT----------------------------------------------------------------------->	
		<script type="text/javascript" src="js\autoevaluacion.js"> </script>

</body>

</html>