<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org/"xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

	<head>
		<title> Inicio </title>
		<link href="css\cssinicio.css" rel="stylesheet" type"text/css" >
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body onload="ordenar()">
		<div id="principal" style="width:95%;">
		
			<div id="cabecera">
				<h2>Electr&oacute;nica Digital</h2>
			</div>
			
			<div id="menu">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="/contenidos">Contenidos</a></li>
					{{#logged}}
					{{#ALUMNOS}}
					<li><a href="/modoEvaluacion"> Autoevaluación</a></li>
					{{/ALUMNOS}}
					{{#PROFESORES}}
					<li><a href="/profes"> Mis Aulas</a></li>
					{{/PROFESORES}}
					{{#ADMINISTRADOR}}
					<li><a href="/administradores"> Administrar</a></li>
					{{/ADMINISTRADOR}}
					<li>
						<form action="/logout" method="post">
							<input type="submit" id ="logout_button" value="Cerrar Sesion"/>
				        	<input type="hidden" name="_csrf" value="{{token}}" />
						</form>
					 </li>
					{{/logged}}
					{{^logged}}
					<li><a href="/login"> Iniciar Sesión</a></li>
					{{/logged}}
				</ul>
			</div>
			
			<div id="columnader" style="width:97%;">
				<h2>Aula: "{{aula.nombre}}"</h2>
				<table id="clase" style="width:99%;">
					<tr id="fila1">
						<th colspan="4">ALUMNOS</th>	
					</tr>
					<tr id="fila1">
						<th>ID</th>	
						<th>Nombre</th>
						<th>Porcentaje de acierto</th>
					</tr>
					{{#rank}}
						<tr>
							<th>{{key.id}}</th>
							<th>{{key.nombre}}</th>
							<th>{{value}}</th>
						</tr>
					{{/rank}}
				</table>
			</div>
			<div class="clear">
			</div>
			<div id="pie">
			<p>Trabajo de Fin de Máster</p>
			<p>Máster Universitario en Formación del Profesorado de Ed. Secundaria, Bachillerato, FP e Idiomas</p>
			<p>Especialidad: Informática y Tecnología</p>
			<p>Alumna: Carmen Muñoz Lorente; Director: Carlos Lázaro Carrascosa</p>
			</div>
		</div>
		
	</body>
	<script>
		function ordenar() {
			var table, rows, switching, i, x, y, shouldSwitch;
			table = document.getElementById("clase");
			switching = true;
			/*Make a loop that will continue until
			no switching has been done:*/
			while (switching) {
			  //start by saying: no switching is done:
			  switching = false;
			  rows = table.rows;
			  /*Loop through all table rows (except the
			  first, which contains table headers):*/
			  for (i = 2; i < (rows.length - 1); i++) {
			    //start by saying there should be no switching:
			    shouldSwitch = false;
			    /*Get the two elements you want to compare,
			    one from current row and one from the next:*/
			    x = rows[i].getElementsByTagName("TH")[2];
			    y = rows[i + 1].getElementsByTagName("TH")[2];
			    //check if the two rows should switch place:
			    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
			      //if so, mark as a switch and break the loop:
			      shouldSwitch = true;
			      break;
			    }
			  }
			  if (shouldSwitch) {
			    /*If a switch has been marked, make the switch
			    and mark that a switch has been done:*/
			    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
			    switching = true;
			  }
			}
		}
	</script>
</html>